<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copyGRN-BRI 2026.<br>
			  Website Contact: Yanjie Zhou <a href="ieyjzhou@zzu.edu.cn"> ieyjzhou@zzu.edu.cn </a> <br>
			  School of Management, Zhengzhou University
              </p>
            

		   <p>  </p><p>
            		  
            
		</div>
		 
		<div class="col-sm-8">
		  Conference Contact: KyoungSuk Choi, <a href="koyaku@jbnu.ac.kr"> koyaku@jbnu.ac.kr </a> <br>
			College of Business and Economics, Jeonbuk National University <br>
		  Address: 567, Baekje-daero, Deokjin-gu, Jeonju-si, Jeonbuk-do, Republic of Korea.
		  		             
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
